server:
    port: ${PORT:82}

spring:
    security:
        user:
            name: ahmad
            password: asd123
            roles: ADMIN



    application:
        name: users-ws
    datasource:
        url: jdbc:h2:mem:testdb
        driver-class-name: org.h2.Driver
        username: sa
        password: password
    h2:
        console:
            settings:
                web-allow-others: true


eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8010/eureka
    devtools:
        restart:
            enabled: true
    instance:
        instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

springdoc:
    swagger-ui:
        enabled: true
        path: /swagger-ui.html
    api-docs.path: /api-docs

gateway:
    ip: localhost:8082

token:
    expiration_time: 86400000
    secret: eyJhbGciOiJIUzI1NiJ9.ew0KICAic3ViIjogIjEyMzQ1Njc4OTAiLA0KICAibmFtZSI6ICJBbmlzaCBOYXRoIiwNCiAgImlhdCI6IDE1MTYyMzkwMjINCn0.sgIsbMAKyqEDG8q0aC5ViW54-0XZ0xi2D7M2azSb_4k

login:
     url:
         path: /users/login



